/**
 * Variables Globales (Custom Properties)
 * Define la paleta de colores y configuraciones base del tema.
 */
:root {
    /* Paleta Oficial */
    --color-primary: #1A428A;
    --color-secondary: #009B4D;
    --color-danger: #D32F2F;
    
    /* Neutros Gubernamentales */
    --bg-body: #F5F5F5;
    --bg-white: #FFFFFF;
    --text-main: #333333;
    --text-light: #666666;
    --border-color: #CCCCCC;
    
    /* Espaciado y Tipografía */
    --font-main: 'Arial', 'Helvetica', sans-serif;
    --font-size-base: 0.75rem;
    --font-size-title: 1.5rem;
}