/**
 * Modulo: Hero Section
 * Estilos para la sección principal y formularios de búsqueda.
 */
.hero-gov-section {
    background-color: var(--bg-white);
    border-bottom: 1px solid var(--border-color);
    text-align: left;
}

.hero-gov-section .container {
    max-width: 500px;
    margin: 0; 
    padding: 30px; /* Base padding */
    position: relative;
    z-index: 10;
    transition: all 0.3s ease; /* Transición suave si cambias tamaño de pantalla */
}

.hero-title {
    color: white;
    margin-bottom: 10px;
    font-size: var(--font-size-title);
    text-transform: uppercase;
    font-weight: 1;
}

.hero-subtitle {
    color: white;
    font-size: var(--font-size-base);
    margin-bottom: 30px;
}

/* Formulario Estilo Gobierno */
.gov-search-wrapper {
    background-color: var(--bg-body);
    padding: 20px;
    border: 1px solid var(--border-color);
    display: inline-block;
    width: 100%;
}

.search-form-additives {
    display: flex;
    gap: 10px;
}

.gov-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 0;
    font-size: 14px;
    background: var(--bg-white);
}

.gov-input:focus {
    outline: 2px solid var(--color-primary);
    border-color: var(--color-primary);
}

.gov-btn {
    background-color: var(--color-primary);
    color: white;
    padding: 12px 20px;
    font-size: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.2s;
}

.gov-btn:hover {
    background-color: #123066;
}

.search-help {
    margin-top: 10px;
    font-size: 12px;
    color: var(--text-light);
    text-align: left;
}